{% extends "base.html" %}


{% block body %}
<head>
<meta charset="utf-8" />

<title>So sorry, something went wrong. </title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<h1>Whoops!! Something went wrong.</h1>
<div>
  <center><img src="../../static/img/giphy-1.gif" height="200" width="200"></center>
</div>

<p>Common mistakes include: </p>
<p>1. Incomplete form input</p>
<p>2. File contained header or was not in two column format</p>
<p>3. Hard Saturation resulted in a gang of NaNs</p>
<p>4. Your units are incorrect</p>
<p>
</p>
<p>If you go 'back' to the from page, rather than hitting "New Observation/Spectrum' you can edit your previous inputs.</p>
<p>
Still can't figure it out? Try again. Still can't figure it out after that? Try one more time. Still can't figure it out on try number 3? Email a friend. 
If that fails, email Natasha Batalha (pandexo@psu.edu). 
</p>

<div>
  <center><img src="../../static/img/giphy.gif"></center>
</div>


</body>
{% end %}
