{% extends "base.html" %}


{% block body %}
<head>
    <meta charset="utf-8" />

    <title>So sorry, something went wrong. </title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <h1>Whoops!! Something went wrong.</h1>
        <br/>
        <p>Error code: {{ status_code }}
            <br/>Error reason: {{ reason }}
            <br/>Error traceback:</p>
    </div>
    <div class="col-md-9">
        <div class="well">
            <code style="white-space: pre-wrap;line-height: 15px;">
                {% whitespace all %}{{ error_log }}{% whitespace oneline %}
            </code>
        </div>
    </div>
    <div class="col-md-3">
        <img style="width: 100%;" src="../../static/img/giphy-1.gif"/>
    </div>
    <div class="col-md-9">
        <p>Common mistakes include: </p>
        <p>1. Hard Saturation resulted in a gang of NaNs</p>
        <p style="display: none;padding-left: 12px;"><code>Put a typical error example here</code></p>
        <p>2. Your units are incorrect</p>
        <p style="color:#777;">3. File contained header or was not in two column format</p>
        <p style="color:#777;">4. Incomplete form input</p>
        <br/>
        <p>If you go <a href="javascript:window.history.go(-2);">back</a> to the form page, rather than hitting "New Calculation/Spectrum', you can edit your previous inputs.</p>
        <p>Still can't figure it out? <i>Try again.</i> Still can't figure it out after that? <i>Try one more time.</i> Still can't figure it out on try number 3? Email a friend.
            If that fails, email Natasha Batalha (pandexo@psu.edu).</p>
    </div>
    <div class="col-md-3">
        <img style="width: 100%;" src="../../static/img/giphy.gif" />
    </div>
</div>
</body>
{% end %}
