{% extends "base.html" %}

{% block prebody %}
<div class="jumbotron">
    <div class="container">
        <h1>An Exoplanet ETC </h1>

        <p>Tools to help the community with planning exoplanet observations.</p>
    </div>
</div>
{% end %}

{% block body %}
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>About PandExo</h2>

        <p>Links to documentation, Pandeia, Contact Info and PandExo's google group.    </p>

        <p><a class="btn btn-default" href="about" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Exoplanet Simulations</h2>

        <p>Here you will find a data base of simulations for known exoplanets. </p>

        <p><a class="btn btn-default" href="tables" role="button" target="_blank">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Helpful Plots</h2>

        <p>Several useful plots for planning observations.  
            </p>

        <p><a class="btn btn-default" href="helpfulplots" role="button" target="_blank">View details &raquo;</a></p>
    </div>
</div>
{% end %}