{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css"/>
{% end %}

{% block body %}
<h1 class="page-header">New JWST Calculation</h1>

<form enctype="multipart/form-data" class="form-horizontal" action="/calculation/new" method="post" id="calculation-form">

    <div class="form-group">
        <label class="col-md-3 control-label" for="calcName">Name</label>

        <div class="col-md-9">
            <input type="text" class="form-control" id="calcName" name="calcName" value="My New Calculation">
            <p class="help-block">Provide a name for this calculation</p>
        </div>
    </div>
    
    
    <div class="form-group">
        <label class="col-md-3 control-label" for="type">Stellar Model?</label>
            <div class="radio">
            <label>
                <input type="radio" name="type" id="inlineRadio1" value="user"> User Defined Stellar Spectra
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" id="inlineRadio2" value="phoenix"> Phoenix Grid Models
            </label>
        </div>
    </div>

    
    <div class="form-group">
        <label class="col-md-3 control-label" for="starFile">Upload</label>
        <div class="col-md-3">
            <input type="file" id="starFile" name="starFile">
            <p class="help-block">Column 1: wavelength, Column 2: flux, no header</p>
        </div>
        <div class="col-md-3">
            <select id="starwunits" name="starwunits" class="form-control">
                <option value="um">micron</option>
                <option value="nm">nanometer</option>
                <option value="cm">centimeter</option>
                <option value="Angs">Angstrom</option>
                <option value="Hz">Hertz</option>                
            </select>
        </div>
        <div class="col-md-3">
            <select id="starfunits" name="starfunits" class="form-control">
                <option value="Jy">Jy</option>
                <option value="W/m2/um">W/m2/um</option>
                <option value="FLAM">erg/cm2/s/Angs</option>
                <option value="erg/s/cm2/Hz">erg/s/cm2/Hz</option>
            </select>
        </div>  
    </div>  
    
    
    <div class="form-group" id="phoenix">
        <label class="col-md-3 control-label" for="phoenix">Or Enter Star Info</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="temp" name="temp" >
            <p class="help-block">Provide stellar temperature (Kelvin) </p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="metal" name="metal" >
            <p class="help-block">Provide stellar metallically</p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="logg" name="logg" >
            <p class="help-block">Provide stellar log g</p>
        </div>

   </div> 
    
      
    
    <div class="form-group">
        <label class="col-md-3 control-label" for="ref_wave">Magnitude</label>
        <div class="col-md-3">
            <select id="ref_wave" name="ref_wave" class="form-control">
                <option value="1.26">J</option>
                <option value="1.60">H</option>
                <option value="2.22">K</option>
            </select>
        </div>  
        <div class="col-md-3">
            <input type="text" class="form-control" id="mag" name="mag" >
            <p class="help-block">Provide magnitude for Planet System</p>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-3 control-label" for="planFile">Planet Model</label>

        <div class="col-md-3">
            <input type="file" id="planFile" name="planFile">
            <p class="help-block">Column 1: wave or time, Column 2: Model, no header</p>
        </div>
        <div class="col-md-3">
            <select id="planwunits" name="planwunits" class="form-control">
                <option value="sec">seconds</option>
                <option value="um">micron</option>
                <option value="nm">nanometer</option>
                <option value="cm">centimeter</option>
                <option value="Angs">Angstrom</option>
                <option value="Hz">Hertz</option>                
            </select>
        </div>
        <div class="col-md-3">
            <select id="planfunits" name="planfunits" class="form-control">
                <option value="rp^2/r*^2">(Rp/R*)^2 (primary)</option>
                <option value="fp/f*">Fp/F* (secondary/phase curve)</option>
            </select>
        </div>  
    </div>    

    <div class="form-group">
        <label class="col-md-3 control-label" for="transit_duration">Transit Duration</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="transit_duration" name="transit_duration">
            <p class="help-block">Time (in seconds). For phase curves, will derive duration of phase from input file.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="fraction">In:Out Ratio</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="fraction" name="fraction" >
            <p class="help-block">Fraction of time spent in versus out of transit</p>
        </div>
    </div>


   <div class="form-group">
        <label class="col-md-3 control-label" for="numtrans">Number of Transits</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="numtrans" name="numtrans" >
            <p class="help-block">Or number of phase observations</p>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-3 control-label" for="optimize">Number of Groups per Integration</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="optimize" name="optimize" value="optimize" >
            <p class="help-block">Recommended to compute optimal groups per integration first (type "optimize"). But, you can also input any number from 2-65536. </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="eff">Photon-Electron Conv. Eff.</label>
            <div class="col-md-6">
                <img id="full" alt="-" width="660" height="426" src="../static/img/pec_res.jpg">
            </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="instrument" onchange="showForm()">Instrument</label>
        <div class="col-md-9">
            <select id="instrument" name="instrument" class="form-control" onchange ="showForm()">
                <option value="0">Select Instrument</option>
                <option value="MIRI">MIRI Low Resolution Spectroscopy</option>
                <option value="NIRSpec">NIRSpec Bright Object Time Series</option>
                <option value="NIRCam">NIRCam Grism Time Series</option>
                <option value="NIRISS">NIRISS Single Object Slitless Spectroscopy</option>
            </select>
        </div>
    </div>

    <div class="form-group" onchange="showForm()">
        <label class="col-md-3 control-label" for="mirimode">Mode</label>
        <div class="col-md-6" id = "MIRI" style="display:none">
            <select id="mirimode" name="mirimode" onchange="showForm()" class="form-control">
                <option value="0">Select MIRI Mode</option>
                <option value="lrsslitless">Slitless LRS</option>
                <option value="lrsslit">Slit LRS</option>
            </select>
        </div>


        <div class="col-md-6" id="NIRSpec" style="display:none">
            <select id="nirspecmode" name="nirspecmode" onchange="showForm()" class="form-control">
                <option value="0">Select NIRSpec Mode</option>
                <option value="g140mf070lp">G140 R=1000 f070lp</option>
                <option value="g140hf070lp">G140 R=2700 f070lp</option>
                <option value="g140mf100lp">G140 R=1000 f100lp</option>
                <option value="g140hf100lp">G140 R=2700 f100lp</option>
                <option value="g235mf170lp">G235 R=1000 f170lp</option>
                <option value="g235hf170lp">G235 R=2700 f170lp</option>
                <option value="g395mf290lp">G395 R=1000 f290lp</option>
                <option value="g395hf290lp">G395 R=2700 f290lp</option>
                <option value="prismclear">Prism R=100 No filter</option>
            </select>
            <select id="nirspecsubarray" name="nirspecsubarray" onchange="showForm()" class="form-control">
                <option value="0">Select NIRSpec Subarray</option>
                <option value="sub1024a">S1600A1 SUB1024A</option>
                <option value="sub1024b">S1600A1 SUB1024B</option>
                <option value="sub2048">S1600A1 SUB2048</option>
                <option value="sub512">S1600A1 SUB512</option>
            </select>

        </div>


        <div class="col-md-6" id="NIRISS" style="display:none">
            <select id="nirissmode" name="nirissmode" onchange="showForm()" class="form-control">
                <option value="0">Select NIRISS Mode</option>
                <option value="substrip96">Substrip 96</option>
                <option value="substrip256">Substrip 256</option>
            </select>
        </div>


        <div class="col-md-6" id="NIRCam" style="display:none">
            <select id="nircammode" name="nircammode" onchange="showForm()" class="form-control">
                <option value="0">Select NIRCam Mode</option>
                <option value="f322w2">F322W2, 2.7-4 um</option>
                <option value="f444w">F444W, 4-5 um</option>
            </select>
            <select id="nircamsubarray" name="nircamsubarray" onchange="showForm()" class="form-control">
                <option value="0">Select NIRCam Subarray</option>
                <option value="subgrism64">SUBGRISM64, 4 outs(tframe=0.34)</option>
                <option value="subgrism128">SUBGRISM128, 4 outs(tframe=0.67)</option>
                <option value="subgrism256">SUBGRISM258, 4 outs(tframe=1.34)</option>
                <option value="subgrism64 (noutputs=1)">SUBGRISM64, 1 out(tframe=1.3)</option>
                <option value="subgrism128 (noutputs=1)">SUBGRISM128, 1 out(tframe=2.6)</option>
                <option value="subgrism256 (noutputs=1)">SUBGRISM258, 1 out(tframe=5.2)</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="satlevel">Percent Fullwell</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="satlevel" name="satlevel" >
            <p class="help-block">Percent fullwell of electrons.</p>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-3 control-label" for="noisefile">Noise Floor</label>

        <div class="col-md-3">
            <input type="file" id="noisefile" name="noisefile">
            <p class="help-block">Column 1: wavelength, Column 2: Noise Floor (ppm)</p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="noisefloor" name="noisefloor" >
            <p class="help-block">OR Constant Minimum Noise (ppm)</p>
        </div>
    </div>  


    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Submit</button>
            {% module xsrf_form_html() %}
        </div>
    </div>
    
    
    
    
</form>
{% end %}

{% block js %}        
<script src="{{ static_url('js/starter.form.js') }}"></script>
        
<script type="text/javascript">
    function showForm() {
        var selopt = document.getElementById("instrument").value;
        if (selopt == "MIRI") {
            document.getElementById("MIRI").style.display = "block";
            document.getElementById("NIRSpec").style.display = "none";
            document.getElementById("NIRISS").style.display = "none";
            document.getElementById("NIRCam").style.display = "none";
        }
        if (selopt == "NIRSpec") {
            document.getElementById("NIRSpec").style.display = "block";
            document.getElementById("MIRI").style.display = "none";
            document.getElementById("NIRISS").style.display = "none";
            document.getElementById("NIRCam").style.display = "none";
        }
        if (selopt == "NIRISS") {
            document.getElementById("NIRISS").style.display = "block";
            document.getElementById("MIRI").style.display = "none";
            document.getElementById("NIRSpec").style.display = "none";
            document.getElementById("NIRCam").style.display = "none";
        }
        if (selopt == "NIRCam") {
            document.getElementById("NIRCam").style.display = "block";
            document.getElementById("MIRI").style.display = "none";
            document.getElementById("NIRSpec").style.display = "none";
            document.getElementById("NIRISS").style.display = "none";
        }
        if (selopt == 0) {
            document.getElementById("MIRI").style.display = "none";
            document.getElementById("NIRSpec").style.display = "none";
            document.getElementById("NIRISS").style.display = "none";
            document.getElementById("NIRCam").style.display = "none";
        }
    }
</script>  
<script type="text/javascript">    
    function pickStar() {
        var selopt1 = document.getElementById("type").value;
        if (selopt1 == "user") {
            document.getElementById("starFile").style.display = "block";
            document.getElementById("starwunits").style.display = "block";
            document.getElementById("starfunits").style.display = "block";
            document.getElementById("phoenix").style.display = "none";
        }
        if (selopt1 == "phoenix") {
            document.getElementById("starFile").style.display = "none";
            document.getElementById("starwunits").style.display = "none";
            document.getElementById("starfunits").style.display = "none";
            document.getElementById("phoenix").style.display = "block";
        }
        if (selopt1 == "0") {
            document.getElementById("starFile").style.display = "none";
            document.getElementById("starwunits").style.display = "none";
            document.getElementById("starfunits").style.display = "none";
            document.getElementById("phoenix").style.display = "none";
        }
}
</script>      


<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
{% end %}
