{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-3.0.2.min.css" type="text/css"/>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.0.2.min.css" type="text/css"/>
<link href="{{ static_url('css/select2.min.css')}}" rel="stylesheet">
<link href="{{ static_url('css/select2-bootstrap-theme.min.css')}}" rel="stylesheet">
<link href="{{ static_url('css/icheck-bootstrap.min.css')}}" rel="stylesheet">
{% end %}

{% block body %}
<h1 class="page-header">New HST Calculation</h1>

<form enctype="multipart/form-data" class="form-horizontal" action="/calculation/newHST" method="post" id="calculation-form">

    <div class="form-group">
        <label class="col-md-3 control-label" for="calcName">Name</label>

        <div class="col-md-9">
            <input type="text" class="form-control" id="calcName" name="calcName" value="My New Calculation">
            <p class="help-block">Provide a name for this calculation</p>
        </div>
    </div>

    <hr class="col-md-11">

    {% include 'target_resolve.html' %}

    <hr class="col-md-11">

    <div class="form-group define-properties">
        <div class="col-md-offset-3 col-md-3">
            <div class="input-group">
                <input type="number" step="any" class="form-control" id="Jmag" name="Jmag" required>
                <span class="input-group-addon">J</span>
            </div>
            <p class="help-block">Magnitude for the Host Star</p>
        </div>

        <div class="col-md-3">
            <div class="input-group">
                <input type="number" step="any" class="form-control" id="Hmag" name="Hmag" >
                <span class="input-group-addon">H</span>
            </div>
            <p class="help-block">Color correction for higher accuracy</p>
        </div> 

        <div class="col-md-3">
            <div class="input-group">
                <input type="number" step="any" class="form-control" id="stempc" name="stempc" >
            </div>
            <p class="help-block">Stellar Teff(K)</p>
        </div>

    </div>


    <div class="form-group define-properties">
        <div class="col-md-offset-3 col-md-3 form-inline">
            <input type="number" step="any" class="form-control" id="refradc" name="refradc" style="width: 60%;" required>
            <div class="input-group-btn" style="width: 30%;left: -4px;display: inline-block;">
                <select id="r_unitc" name="r_unitc" class="form-control" required>
                <option value='R_jupiter'>R<sub>J</sub></option>
                <option value='kilometer'>Km</option>
                <option value='m'>m</option>
                <option value='R_earth'>R<sub>E</sub></option>
                <option value='R_sun'>R<sub>S</sub></option>
                </select>
            </div>
            <p class="help-block">Planet Radius</p>
        </div>

        <div class="col-md-3 form-inline">
            <input type="number" step="any" class="form-control" id="rstarc" name="rstarc" style="width: 60%;" required>
            <div class="input-group-btn" style="width: 30%;left: -4px;display: inline-block;">
                <select id="rstar_unitc" name="rstar_unitc" class="form-control" required>
                <option value='R_sun'>R<sub>S</sub></option>
                <option value='kilometer'>Km</option>
                <option value='m'>m</option>
                <option value='R_earth'>R<sub>E</sub></option>
                <option value='R_jupiter'>R<sub>J</sub></option>
                </select>
            </div>
            <p class="help-block">Stellar Radius</p>
        </div>
    </div>

    <div class="form-group define-properties">
        <div class="col-md-offset-3 col-md-3">
            <input type="number" step="any" class="form-control" id="period" name="period" required>
            <p class="help-block">Orbital period in days.</p>
        </div>

        <div class="col-md-3">
            <input type="number" step="any" class="form-control" id="transit_duration" name="transit_duration" required>
            <p class="help-block">Full transit/eclipse duration in days.</p>
        </div>

        <div class="col-md-3">
            <input type="number" step="any" class="form-control" id="i" name="i" required>
            <p class="help-block">Orbital inclination in degrees.</p>
        </div>

        <div class="col-md-3 col-md-offset-3">
            <input type="number" step="any" class="form-control" id="ars" name="ars" required>
            <p class="help-block">Semi-major axis in units of stellar radii (a/R<sub>*</sub>).</p>
        </div>

        <div class="col-md-3">
            <input type="number" step="any" class="form-control" id="ecc" name="ecc" value="0" required>
            <p class="help-block">Orbital eccentricity.</p>
        </div>

        <div class="col-md-3">
            <input type="number" step="any" class="form-control" id="w" name="w" >
            <p class="help-block">Longitude of periastron in degrees.<br>Leave blank if eccentricity is zero.</p>
        </div>
    </div>

    <hr class="col-md-11 col-md-offset-1">

    <div class="form-group">
        <label class="col-md-3 control-label" for="" style="top: 35px;">Planet Model</label>
        <div class="col-md-9">
            <div class="radio-chooser">
                <div class="radio-chooser-item">
                    <label class="radio-chooser-content" for="planetModelConstant">
                        <input type="radio" name="planetModel" id="planetModelConstant" value="constant" />
                        <div class="radio-chooser-title">Constant Value</div>
                    </label>
                </div>
                <div class="radio-chooser-item">
                    <label class="radio-chooser-content" for="planetModelUser">
                        <input type="radio" name="planetModel" id="planetModelUser" value="user" />
                        <div class="radio-chooser-title">Upload Spectrum</div>
                    </label>
                </div>
                <div class="radio-chooser-item">
                    <label class="radio-chooser-content" for="planetModelGrid">
                        <input type="radio" name="planetModel" id="planetModelGrid" value="grid" />
                        <div class="radio-chooser-title">Select From Grid</div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group hidden select-from-grid">
        <div class="col-md-3 col-md-offset-3">
            <select id="ptempg" name="ptempg" class="form-control" data-placeholder="Select Temp (K)">
                <option value=""></option>
                {% for i in temp %}
                    <option {{ escape(i) }} value={{ escape(i) }}>{{ escape(i) }}</option>
                {% end %}
            </select>
            <p class="help-block">Temperature (K)</p>
        </div>

        <div class="col-md-3">
            <select id="pchem" name="pchem" class="form-control" data-placeholder="Select Chemistry">
                <option value=""></option>
                <option value='noTiO'>Equilibrium Chemistry</option>
                <option value='eqchem'>Equilibrium Chemistry, w/ TiO</option>
            </select>
            <p class="help-block">Select Chemistry Type</p>
        </div>

        <div class="col-md-3">
            <select id="cloud" name="cloud" class="form-control" data-placeholder="Clouds/Scattering">
                <option value=""></option>
                <option value="0">Nothing</option>
                <option value="ray10">Weak Rayleigh</option>
                <option value="ray100">Medium Rayleigh</option>
                <option value="ray1000">Strong Rayleigh</option>
                <option value="flat1">Weak Cloud</option>
                <option value="flat10">Medium Cloud</option>
                <option value="flat100">Strong Cloud</option>
            </select>
            <p class="help-block">Clouds or Scattering</p>
        </div>

        <div class="col-md-4 col-md-offset-3 form-inline">
            <input type="number" step="any" class="form-control" id="pmass" name="pmass" style="width: 70%;" value="1.5">
        <div class="input-group-btn" style="width: 20%;left: -4px;display: inline-block;">
            <select id="m_unit" name="m_unit" class="form-control">
                <option value='M_jup'>M<sub>J</sub></option>
                <option value='kilogram'>Kg</option>
                <option value='g'>g</option>
                <option value='M_earth'>M<sub>E</sub></option>
                <option value='M_sun'>M<sub>S</sub></option>
            </select>
            </div>
            <p class="help-block">Planet Mass</p>
        </div>
        </div>

    <div class="form-group hidden upload-planet-section">
        <div class="col-md-3 col-md-offset-3">
            <input type="file" id="planFile" name="planFile">
            <p class="help-block text-center">Column 1: wave or time <br>Column 2: Model, no header</p>
        </div>
        <div class="col-md-3">
            <select id="planwunits" name="planwunits" class="form-control" data-placeholder="Select Wave or Time Units">
                <option value=""></option>
                <option value="sec">seconds</option>
                <option value="um">micron</option>
                <option value="nm">nanometer</option>
                <option value="cm">centimeter</option>
                <option value="Angs">Angstrom</option>
                <option value="Hz">Hertz</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="planfunits" name="planfunits" class="form-control" data-placeholder="Select Planet Model Units">
                <option value=""></option>
                <option value="rp^2/r*^2">(R<sub>p</sub>/R<sub>*</sub>)^2 (primary)</option>
                <option value="fp/f*">F<sub>p</sub>/F<sub>*</sub> (secondary/phase curve)</option>
            </select>
        </div>
    </div>

    <div class="form-group hidden constant-transit-section">
         <div class="col-md-3 col-md-offset-3">
            <select id="constant_unit" name="constant_unit" class="form-control" data-placeholder="Select Planet Model Units">
                <option value=""></option>
                <option value="rp^2/r*^2">(R<sub>p</sub>/R<sub>*</sub>)^2 (primary)</option>
                <option value="fp/f*">F<sub>p</sub>/F<sub>*</sub> (secondary/phase curve)</option>
            </select>
         <p class="help-block">Primary or Secondary</p>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="number" class="form-control" id="ptempc" name="ptempc" value="Only for Secondary">
            </div>
            <p class="help-block">Planet Temp(K)</p>
        </div>
    </div>

    <hr class="col-md-11 col-md-offset-1">

    <div class="form-group">
        <label class="col-md-3 control-label" for="obsParams">Observation Parameters</label>
        <div class="col-md-3">
            <input type="number" step="1" min="1" class="form-control" id="norbits" name="norbits" >
            <p class="help-block">Number of HST orbits per visit. Leave blank to let the program determine this value.</p>
        </div>

        <div class="col-md-3">
            <input type="number" step="1" min="1" value="1" class="form-control" id="noccultations" name="noccultations" required>
            <p class="help-block">Number of transits/eclipses.</p>
        </div>

        <div class="col-md-3">
            <input type="number" step="1" min="1" class="form-control" id="nchan" name="nchan" value="20" required>
            <p class="help-block">Number of spectrophotometric channels.</p>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-3 col-md-offset-3">
            <div class="input-group">
                <input type="number" step="1" min="1" class="form-control" id="windowSize" name="windowSize" value="20">
                <span class="input-group-addon">min</span>
            </div>
            <p class="help-block">Observation start window size.</p>
        </div>
        <div class="col-md-3">
            <select id="useFirstOrbit" name="useFirstOrbit" class="form-control">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <p class="help-block">Use the first orbit.</p>
        </div>

        <div class="col-md-3">
            <input type="number" class="form-control" id="targetFluence" name="targetFluence" value="30000" required>
            <p class="help-block">Target fluence in electrons per pixel.</p>
        </div>

    </div>

    <hr class="col-md-11 col-md-offset-1">

    <div class="form-group">
        <label class="col-md-3 control-label" for="instrument">Instrument</label>
        <div class="col-md-3">
          <select id="instrument" name="instrument" class="form-control" data-placeholder="Select Instrument" required>
	    <option value=""></option>
            <option value="STIS" disabled>STIS (Not currently supported)</option>
            <option value="WFC3" >WFC3</option>
            </select>
        </div>
    </div>

    <div class="form-group hidden" id="instrument-mode-section">
        <label class="col-md-3 control-label" for="stismode">Instrument Parameters</label>
        <div class="col-md-3" id="STIS">
            <select id="stismode" name="stismode" class="form-control" data-placeholder="Select STIS Mode">
                <option value=""></option>
                <option value="g430">G430</option>
                <option value="g750">G750</option>
            </select>
        </div>

        <div class="col-md-3" id="WFC3">
            <select id="wfc3mode" name="wfc3mode" class="form-control" data-placeholder="Select WFC3 Disperser">
                <option value=""></option>
                <option value="g102">G102</option>
                <option value="g141">G141</option>
            </select>
            <select id="subarray" name="subarray" class="form-control" data-placeholder="Select WFC3 Subarray Size">
                <option value=""></option>
                <option value="GRISM256">GRISM256</option>
                <option value="GRISM512">GRISM512</option>
            </select>
            <select id="nsamp" name="nsamp" class="form-control" data-placeholder="Select WFC3 N_SAMP">
                <option value=""></option>
                <option value="0">Optimal</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
            <select id="samp_seq" name="samp_seq" class="form-control" data-placeholder="Select WFC3 SAMP_SEQ">
                <option value=""></option>
                <option value="None">Optimal</option>
                <option value="SPARS5">SPARS5</option>
                <option value="SPARS10">SPARS10</option>
                <option value="SPARS25">SPARS25</option>
            </select>
            <select id="scanDirection" name="scanDirection" class="form-control" data-placeholder="Select WFC3 Scan Direction">
                <option value=""></option>
                <option value="Forward">Forward</option>
                <option value="Round Trip">Round Trip</option>
            </select>
            <select id="schedulability" name="schedulability" class="form-control" data-placeholder="Select WFC3 Schedulability">
                <option value=""></option>
                <option value="30">30 (Small/Medium Programs)</option>
                <option value="100">100 (Large Programs)</option>
            </select>
            <p class="help-block">Choosing 'Optimal' lets the program determine the optimal values.</p>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-3 control-label" for="ramp">Ramp Effects?</label>
        <div class="col-md-3">

              <input type="checkbox" data-toggle="toggle" id="ramp" name="ramp" class="form-control">

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" name="submit_form" class="btn btn-success" value="submit">Submit</button>
            {% module xsrf_form_html() %}
        </div>
    </div>
</form>
{% end %}

{% block js %}
<script src="{{ static_url('js/starter.formhst.js') }}"></script>
<script src="{{ static_url('js/select2.min.js') }}"></script>

<script type="text/javascript">
  $(document).ready(function(){
      $("#resolve_target_btn").click(function() {
	  $.get("../resolve?name=" + encodeURIComponent($("#planetname").val()), function(data) {
	      data = JSON.parse(data)
	      $("#Jmag").val(data["Jmag"]);
	      $("#Hmag").val(data["Hmag"]);
	      $("#stempc").val(data["Teff"]);

	      $("#refradc").val(data["Rp"]);
	      $("#r_unitc").val(data["Rp_unit"][0] + data["Rp_unit"].substring(1).toLowerCase());
	      $("#rstarc").val(data["Rs"]);
	      $("#rstar_unitc").val(data["Rs_unit"][0] + data["Rs_unit"].substring(1).toLowerCase());

	      $("#period").val(data["orbital_period"]);
	      $("#transit_duration").val(data["transit_duration"]);
	      $("#i").val(data["inclination"]);
	      $("#ars").val(data["a/Rs"]);
	      $("#ecc").val(data["eccentricity"]);
	      $("#w").val(data["omega"]);
	      
	      var day_temp = data["Teff"] / Math.sqrt(data["a/Rs"]) * Math.pow(2.0/3, 0.25);
	      $("#ptempc").val(Math.round(day_temp));
	  }).fail(function(xhr, textStatus, errorThrown) {
				      alert("Resolve failed. Contact support and include this error: " + JSON.stringify(xhr));
				  });
      });
      
        $("select").select2({
            theme: "bootstrap",
            width: "100%",
            minimumResultsForSearch: 7
        });

        /* Nice block level radio selection */
        $(".radio-chooser-content").click(function () {
            $(".radio-chooser-item").removeClass("radio-chooser-selected");
            $(this).parent().addClass("radio-chooser-selected");
            switch ( $(this).find("input").attr("id") ) {
		 case "planetModelConstant":
                    $(".upload-planet-section").addClass("hidden");
	    	    $(".upload-planet-section").find("input, select").attr("required", false);
                    $(".constant-transit-section").removeClass("hidden");
		    $(".constant-transit-section").find("input, select").attr("required", true);
                    $(".select-from-grid").addClass("hidden");
	            $(".select-from-grid").find("input, select").attr("required", false);
                    break;
                case "planetModelUser":
                    $(".constant-transit-section").addClass("hidden");
	 	    $(".constant-transit-section").find("input, select").attr("required", false);
                    $(".upload-planet-section").removeClass("hidden");
		    $(".upload-planet-section").find("input, select").attr("required", true);
                    $(".select-from-grid").addClass("hidden");
		    $(".select-from-grid").find("input, select").attr("required", false);
                    break;
                case "planetModelGrid":
                    $(".constant-transit-section").addClass("hidden");
		    $(".constant-transit-section").find("input, select").attr("required", false);
                    $(".upload-planet-section").addClass("hidden");
		    $(".upload-planet-section").find("input, select").attr("required", false);
                    $(".select-from-grid").removeClass("hidden");
		    $(".select-from-grid").find("input, select").attr("required", true);
                    break;		
            }
        });

      $("#constant_unit").change(function () {
	  if ($("#constant_unit").val() == "fp/f*") {
	      $("#ptempc").attr("required", true);
	  }
	  else
	      $("#ptempc").attr("required", false);
      });
      
        /* Instrument Selection */
      $("#instrument").change(function () {
          $("#instrument-mode-section").removeClass("hidden");
          $("#STIS, #WFC3").addClass("hidden");
	  $("#STIS select, #WFC3 select").attr("required", false);
            var selopt = $("#instrument").val();
            switch (selopt) {
                case "STIS":
                    $("#STIS").removeClass("hidden");		
		    $("#STIS select").attr("required", true);
                    break;
                case "WFC3":
                    $("#WFC3").removeClass("hidden");		
		    $("#WFC3 select").attr("required", true);
                    break;
            }
      });

      //if we're editing, set the form values to what it was before
      var obj = JSON.parse({% raw json_encode(data_json) %});
      if (!jQuery.isEmptyObject(obj)) {
	  $("#planetModelConstant").trigger("click");
	  
	  var radioNames = $('form :radio').map((_, radio) => radio.name).get();	  
	  var dropdownNames = $('form select').map((_, radio) => radio.name).get();
	  $.each(obj, function(name, value) {
	      if (radioNames.includes(name))
		  $(`input[name='${name}'][value='${value}']`).trigger("click");
	      else if (dropdownNames.includes(name))
		  $(`select[name='${name}']`).val(value).trigger("change");
	      else
		  $("#" + name).val(value);
	  });
      }
      else {
	  $(`input[name='planetModel'][value='constant']`).trigger("click");
	  $("#instrument").val("WFC3").trigger("change");
      }
  });

      function pickStar() {
        $("#starFile, #starwunits, #starfunits, #phoenix").addClass("hidden");
        var selopt1 = document.getElementById("type").value;
        switch (selopt1) {
            case "user":
                $("#starFile, #starwunits, #starfunits").removeClass("hidden");
                break;
            case "phoenix":
                $("#phoenix").removeClass("hidden");
                break;
        }
    }
</script>


<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.0.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.0.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.0.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.0.2.min.js"></script>
{% end %}
